@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,300italic,300,700,700italic&subset=latin,cyrillic);
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica CE Regular.eot');
  src: local('☺'), url('../fonts/Helvetica CE Regular.woff') format('woff'), url('../fonts/Helvetica CE Regular.ttf') format('truetype'), url('../fonts/Helvetica CE Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
header,
nav,
section,
article,
aside,
footer {
  display: block;
}
a {
  text-decoration: none;
}
.header {
  margin: 0 auto;
  height: 120px;
  line-height: 120px;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.header__wrapper {
  max-width: 1255px;
  margin: 0 auto;
  width: 1255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__name {
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
  margin: 0;
}
.header__name-link {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}
.header__name-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  display: block;
}
.header__name-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.header__tel {
  float: right;
  font-size: 20px;
  font-weight: 400;
}
.bg {
  width: 100%;
  height: 885px;
  background-size: cover;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
}
.bg__wrap {
  position: absolute;
  z-index: 0;
  width: 100%;
}
.bg__wrap img {
  width: 100%;
}
.menu-top {
  display: inline-block;
}
.menu {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  width: 500px;
}
.menu__item {
  display: inline-block;
  margin: 0 auto;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 700;
}
.menu__link:hover {
  color: #ffffff;
}
.menu__link span {
  border-bottom: 1px solid;
  transition: 0.2s;
}
