.color{
	&-1{
		background-color: #ff5573;
	}
	&-2{
		background-color: #4a90e2;
	}
	&-3{
		background-color: #f5a623;
	}
	&-4{
		background-color: #bd10e0;
	}
	&-5{
		background-color: #50e3c2;
	}
	&-6{
		background-color: #f8e71c;
	}
	&-7{
		background-color: #1ce3f8;
	}
	&-8{
		background-color: #ba4413;
	}
}

.text-color{
	&-1{
		color:#ff5573;
	}
	&-2{
		color:#4a90e2;
	}
	&-3{
		color:#f5a623;
	}
	&-4{
		color:#bd10e0;
	}
	&-5{
		color:#50e3c2;
	}
	&-6{
		color: #7ed321;
	}
	&-7{
		color: #1ce3f8;
	}
	&-8{
		color: #ba4413;
	}
}